body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

header h1 {
  margin: 0;
}

header nav ul {
  list-style: none;
  padding: 0;
}

header nav ul li {
  display: inline;
  margin: 0 10px;
  padding: 30px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px 0;
  background-color: antiquewhite;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.profile-photo {
  width: 150px;
  border-radius: 50%;
}

.project {
  margin-bottom: 20px;
}

.project h3 {
  margin-top: 0;
}

footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  margin-top: 20px;
}

footer p {
  margin: 0;
}

.social-media a {
  margin-right: 10px;
  color: #fff; /* Changed to #fff to match the footer background */
  text-decoration: none;
}
